.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 2px 0;
    &.active {
      .header {
        color: #fff;
        background-color: #29C;
      }
      .btnAccordionToggle {
        color: #fff;
      }
    }
    &:first-child{margin-top:0;}
  }
  .header {
    color: #000;
    background-color: #DDD;
    padding: 0 2px;
    cursor: pointer;
  }
  .btnAccordionToggle {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border: none;
    background: none;
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .content {
    padding: 10px;
    color: #000;
  }
}