!!! 5
html(lang='en')
	head
		meta(charset='UTF-8')
		title Accordion
		link(rel='stylesheet', href='accordion.css')
	body
		ul#trazas_lista.accordion
			li.active
				.header
					| Section 1
					button.btnAccordionToggle -
				.content
					| Content 1
			li
				.header
					| Section 2
					button.btnAccordionToggle +
				.content
					| Content 2
			li
				.header
					| Section 3
					button.btnAccordionToggle +
				.content
					| Content 3
		script(src='http://code.jquery.com/jquery-latest.min.js')
		script(src='accordion.js')