.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accordion li {
  margin: 2px 0;
}
.accordion li.active .header {
  color: #fff;
  background-color: #29c;
}
.accordion li.active .btnAlternaAcordeon {
  color: #fff;
}
.accordion li:first-child {
  margin-top: 0;
}
.accordion .header {
  color: #000;
  background-color: #ddd;
  padding: 0 2px;
  cursor: pointer;
}
.accordion .btnAccordionToggle {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  border: none;
  background: none;
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.accordion .content {
  padding: 10px;
  color: #000;
}
