.tabs
	position relative
	.tabsHeaders
		margin 0
		padding 0
		font-size 0
		li
			display inline-block
			cursor pointer
			padding 1em
			border-width 1px 1px 0 1px
			border-style solid
			border-color black
			background-color #29C
			color #FFF
			font-size 16px
			position relative
			z-index 0
			text-align center
			&:first-child
				border-right-width 0
			&.active
				background-color #FFF
				color #000
				z-index 2
		&.fullWidth
			display table
			width 100%
			li
				display table-cell
	.tabsContent
		margin -1px 0 0 0
		padding 0
		border 1px solid black
		position relative
		li
			display none
			padding 1em
			&.active
				display block