.tabs {
  position: relative;
}
.tabs .tabsHeaders {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.tabs .tabsHeaders li {
  display: inline-block;
  cursor: pointer;
  padding: 1em;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #000;
  background-color: #29c;
  color: #fff;
  font-size: 16px;
  position: relative;
  z-index: 0;
  text-align: center;
}
.tabs .tabsHeaders li:first-child {
  border-right-width: 0;
}
.tabs .tabsHeaders li.active {
  background-color: #fff;
  color: #000;
  z-index: 2;
}
.tabs .tabsHeaders.fullWidth {
  display: table;
  width: 100%;
}
.tabs .tabsHeaders.fullWidth li {
  display: table-cell;
}
.tabs .tabsContent {
  margin: -1px 0 0 0;
  padding: 0;
  border: 1px solid #000;
  position: relative;
}
.tabs .tabsContent li {
  display: none;
  padding: 1em;
}
.tabs .tabsContent li.active {
  display: block;
}
