!!! 5
html(lang='en')
	head
		meta(charset='UTF-8')
		title Tabs
		link(rel='stylesheet', href='tabs.css')
	body
		p Auto width tabs:
		.tabs
			ul.tabsHeaders
				li.active Tab 1
				li Tab 2
			ul.tabsContent
				li.active
					| Content 1
				li
					| Content 2
		br
		p Full width tabs:
		.tabs
			ul.tabsHeaders.fullWidth
				li.active Tab 1
				li Tab 2
			ul.tabsContent
				li.active
					| Content 1
				li
					| Content 2
		script(src='http://code.jquery.com/jquery-latest.min.js')
		script(src='tabs.js')