.container {
	position: relative;

	border: 1px solid #000;
	height: 200px;
}

.window {
	position: absolute;

	cursor: move;
	border: 4px solid #000;
    padding: 10px;
	background-color: #08C;
	color: #FFF;
	width: 200px;
	height: 50px;
}